#
# Shorewall -- /etc/shorewall/hosts
#
# For information about entries in this file, type "man shorewall-hosts"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-hosts.html
#
###############################################################################
#ZONE		HOSTS				OPTIONS
{% for h in shorewall_hosts %}
{% if h.comment  is string %}
# {{ h.comment }}
{% endif %}
{{ h.zone }}	{{ h.hosts }}	{% if h.options is defined %}{{ h.options }}{% else %}-{% endif %}

{% endfor %}