#
# Shorewall -- /etc/shorewall/interfaces
#
# For information about entries in this file, type "man shorewall-interfaces"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-interfaces.html
#
?FORMAT 2
###############################################################################
#ZONE		INTERFACE		OPTIONS
{% if shorewall_docker %}
{{ shorewall_docker_zone }}	{{ shorewall_docker_bridge }}	bridge
{% endif %}
{% for i in shorewall_interfaces %}
{% if i.comment is string %}
# {{ i.comment }}
{% endif %}
{{ i.zone }}	{{ i.interface }}	{% if i.options is defined %}{{ i.options }}{% else %}-{% endif %}

{% endfor %}
