#
# Shorewall -- /etc/shorewall/masq
#
# For information about entries in this file, type "man shorewall-masq"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-masq.html
#
###################################################################################################################################
#INTERFACE		SOURCE		ADDRESS		PROTO	PORT	IPSEC	MARK	USER	SWITCH	ORIGDEST	PROBABILITY

{% for m in shorewall_masq %}
{% if m.comment  is string %}
# {{ m.comment }}
{% endif %}
{{ m.interface }}  {% if m.source is defined %}{{ m.source }}{% else %}-{% endif %}  {% if m.address is defined %}{{ m.address }}{% else %}-{% endif %}  {% if m.proto is defined %}{{ m.proto }}{% else %}-{% endif %}  {% if m.port is defined %}{{ m.port }}{% else %}-{% endif %}  {% if m.ipsec is defined %}{{ m.ipsec }}{% else %}-{% endif %}  {% if m.mark is defined %}{{ m.mark }}{% else %}-{% endif %}  {% if m.user is defined %}{{ m.user }}{% else %}-{% endif %}  {% if m.switch is defined %}{{ m.switch }}{% else %}-{% endif %}  {% if m.origdest is defined %}{{ m.origdest }}{% else %}-{% endif %}  {% if m.probability is defined %}{{ m.probability }}{% else %}-{% endif %}

{% endfor %}