#
# Shorewall -- /etc/shorewall/nat
#
# For information about entries in this file, type "man shorewall-nat"
#
# For additional information, see http://shorewall.net/NAT.htm
#
###############################################################################
#EXTERNAL	INTERFACE	INTERNAL	ALLINTS		LOCAL

{% for n in shorewall_nat %}
{% if n.comment  is string %}
# {{ n.comment }}
{% endif %}
{{ n.external }}  {{ n.interface }}  {{ n.internal }}  {% if n.allints %}Yes{% else %}No{% endif %}  {% if n.local %}Yes{% else %}No{% endif %}

{% endfor %}