#
# Shorewall -- /etc/shorewall/policy
#
# For information about entries in this file, type "man shorewall-policy"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-policy.html
#
###############################################################################
#SOURCE		DEST		POLICY	LOGLEVEL	LIMIT	CONNLIMIT
{% if shorewall_docker %}
{{ shorewall_docker_zone }}	fw	REJECT	-	-	-
{{ shorewall_docker_zone }}	all	ACCEPT	-	-	-
{% endif %}
{% for p in shorewall_policies %}
{% if p.comment  is string %}
# {{ p.comment }}
{% endif %}
{{ p.source }}	{{ p.dest }}	{{ p.policy }}	{% if p.loglevel is defined
    %}{{ p.loglevel }}{% else %}-{% endif %} {% if p.limit is defined 
    %}{{ p.limit }}{% else %}-{% endif %} {% if p.connlimit is defined %}{{ p.connlimit }}{% else %}-{% endif %}

{% endfor %}
