#
# Shorewall -- /etc/shorewall/rules
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
##############################################################################################################################################################
#ACTION		SOURCE		DEST		PROTO	DPORT	SPORT	ORIGDEST	RATE	USER	MARK	CONNLIMIT	TIME	HEADERS	SWITCH	HELPER
{% for sr in shorewall_rules %}
{% for s, rules in sr.items() %}

?SECTION {{ s }}
{% for r in rules %}
{% if r.comment  is string %}
# {{ r.comment }}
{% endif %}
{{ r.action }}	{% if r.source is defined %}{{ r.source }}{% else %}-{% endif %}	{% if r.dest is defined %}{{ r.dest }}{% else %}-{% endif %}	{% if r.proto is defined %}{{ r.proto }}{% else %}-{% endif %}	{% if r.dport is defined %}{{ r.dport }}{% else %}-{% endif %}	{% if r.sport is defined %}{{ r.sport }}{% else %}-{% endif %}  {% if r.origdest is defined %}{{ r.origdest }}{% else %}-{% endif %}	{% if r.rate is defined %}{{ r.rate }}{% else %}-{% endif %}	{% if r.user is defined %}{{ r.user }}{% else %}-{% endif %}	{% if r.mark is defined %}{{ r.mark }}{% else %}-{% endif %}	{% if r.connlimit is defined %}{{ r.connlimit }}{% else %}-{% endif %}	{% if r.time is defined %}{{ r.time }}{% else %}-{% endif %}	{% if r.headers is defined %}{{ r.headers }}{% else %}-{% endif %}  {% if r.switch is defined %}{{ r.switch }}{% else %}-{% endif %}  {% if r.helper is defined %}{{ r.helper }}{% else %}-{% endif %}

{% endfor %}

{% endfor %}
{% endfor %}