#
# Shorewall -- /etc/shorewall/tunnels
#
# For information about entries in this file, type "man shorewall-tunnels"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-tunnels.html
#
###############################################################################
#TYPE			ZONE		GATEWAY			GATEWAY_ZONES

{% for t in shorewall_tunnels %}
{% if t.comment  is string %}
# {{ t.comment }}
{% endif %}
{{ t.type }}	{{ t.zone }}	{% if t.gateway is defined %}{{ t.gateway }}{% else %}0.0.0.0/0{% endif %}	{% if t.gateway_zones is defined %}{{ t.gateway_zones }}{% else %}-{% endif %}

{% endfor %}