#
# Shorewall -- /etc/shorewall/zones
#
# For information about this file, type "man shorewall-zones"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-zones.html
#
###############################################################################
#ZONE		TYPE		OPTIONS		IN_OPTIONS	OUT_OPTIONS

fw firewall
{% if shorewall_docker %}
{{ shorewall_docker_zone }}  ip  -  -  -
{% endif %}
{% for z in shorewall_zones %}
{% if z.comment  is string %}
# {{ z.comment }}
{% endif %}
{{ z.zone }}  {{ z.type }}  {% if z.options is defined %}{{ z.options }}{% else %}-{% endif %}  {% if z.in_options is defined %}{{ z.in_options }}{% else %}-{% endif %}  {% if z.out_options is defined %}{{ z.out_options }}{% else %}-{% endif %}

{% endfor %}
